@model List<DMS.DAL.DatabaseContext.destinationn>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "beautifultours";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    /*Style for search Button*/
    .searchBox {
        margin-left: 875px;
        margin-bottom: 30px;
    }

    .searchbar {
        width: 100%;
        max-width: 250px;
        display: inline-flex;
    }

    .searchbar--max-width {
        max-width: 100%;
    }

    .searchbar__input {
        flex-grow: 1;
        padding: 10px;
        outline: none;
        border: 1px solid #696969;
        border-radius: 5px 0 0 5px;
        background: #F4FAF9;
        transition: background 0.25s, box-shadow 0.25s;
    }

        .searchbar__input:focus {
            background: white;
            box-shadow: 0 0 2px #696969;
        }

        .searchbar__input::placeholder {
            color: #696969;
        }

    .searchbar__button {
        width: 40px;
        background: #696969;
        color: #ffffff;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        user-select: none;
    }

        .searchbar__button:active {
            box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
        }
    /*style for search button ends*/
</style>

<!-- banner -->
<div class="inner_banner_agile">

</div>

<div class="services-breadcrumb">
    <div class="inner_breadcrumb">
        <ul class="short_ls">
            <li>
                <a href="@Url.Action("Index","Home")">Home</a>
                <span>/ /</span>
            </li>
            <li>Tours</li>
        </ul>
    </div>
</div>

<div class="trips-section">
    <div class="container">
        <h3 class="title">Beautiful Tours</h3>
        <div class="searchBox">
            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <div class="searchbar">
                    <input type="text" class="searchbar__input" name="name1" placeholder="Search Destination">
                    <button type="submit" class="searchbar__button">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            }
        </div>
        @foreach (var data in Model)
        {
            <div class="col-xs-4 exce-grid1-mmstyle" style="padding-bottom: 3em;">
                <img src="@Url.Content(data.photo + "/" + data.photo_name)">
                <div class="grid-ec1">
                    <h3>@(data.dname)</h3>
                    <p>@(data.description)</p>
                    <h4>
                        <i class="fa fa-map-marker"></i>@(data.location)
                    </h4>
                    <h4 class="w3l-name">
                        <i class="fa fa-calendar"></i>@(data.dtime)
                    </h4>
                    <div class="readmore-w3-agileits about-read">
                        @using (Html.BeginForm("Sort", "Home", FormMethod.Post))
                        {
                            <input type="text" hidden value="@(data.id)" name="name2" />
                            <button type="submit" class="links">Read More</button>
                        }
                    </div>
                </div>
            </div>
        }
        <div class="clearfix"></div>
    </div>
</div>