@model List<DMS.DAL.DatabaseContext.destination>

<style>
    .show-more {
        margin-top: 15px;
        margin-left: 500px;
    }
</style>

<div class="w3l_banner_info">
    <div class="slider">
        <div class="callbacks_container">
            <ul class="rslides" id="slider3">
                <li>
                    <div class="slider-img">
                        <div class="slider_banner_info">
                            <h4>
                                <span>Explore</span> the Distant Corners of the
                                <span>World</span>
                            </h4>
                            <p>Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
                            <div class="readmore-w3-agileits">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Know More</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-img-2">
                        <div class="slider_banner_info">
                            <h4>
                                <span>Explore</span> the Distant Corners of the
                                <span>World</span>
                            </h4>
                            <p>Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
                            <div class="readmore-w3-agileits">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Know More</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-img-3">
                        <div class="slider_banner_info">
                            <h4>
                                <span>Explore</span> the Distant Corners of the
                                <span>World</span>
                            </h4>
                            <p>Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
                            <div class="readmore-w3-agileits">
                                <a href="#" data-toggle="modal" data-target="#myModal1">Know More</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- modal (popup) -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Travel & Tours</h4>
                <p>Making your Tour More Beautiful</p>
                <img src="~/Content/TravelAndTours/images/3.jpg" alt="" />
                <span>
                    Man is a traveler by nature. He does not like to keep static at a place for a long time. 
                    So, people like to visit new places whenever they find time and opportunity. 
                    People travel for different purposes. Some travel for getting an education and some travel for pleasure.
                </span>
            </div>
        </div>
    </div>
</div>
<!-- //modal (popup) -->
<!-- //banner -->
<!-- welcome -->
<div class="welcome" id="about">
    <div class="container">
        <h3 class="title">Welcome to Our Travel Tours</h3>
        <div class="col-md-6 welcome-left">
            <h3>Traveling, Tours, Adventure.</h3>
            <h4>
                We are committed to offering travel services of the highest quality, combining our energy and enthusiasm, with our years
                of experience. Our greatest satisfaction comes in serving large numbers of satisfied clients who have experienced the
                joys and inspiration of travel.
            </h4>
            <p>
                We offer great packages for your Travel. Our greatest satisfaction comes in serving large numbers of satisfied clients who have experienced the
                joys and inspiration of travel. 
            </p>
            <div class="readmore-w3-agileits about-read">
                <a href="#" data-toggle="modal" data-target="#myModal1">Read More</a>
            </div>
        </div>
        <div class="col-md-6 welcome-right">
            <div class="welcome-right-top">
                <img src="~/Content/TravelAndTours/images/a.jpg" alt="Beauty">
            </div>
            <div class="welcome-right-bottom">
                <img src="~/Content/TravelAndTours/images/a1.jpg" alt="Beauty">
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //welcome -->
<!-- middle section -->
<div class="middle-w3l">
    <div class="container">
        <div class="middle-left-w3l">
            <h4>Find Travel Perfection With the Professionalism of Experts</h4>
            <p>Go, fly, roam, travel, voyage, explore, journey, discover, adventure.</p>
            <div class="readmore-w3-agileits about-read">
                <a href="@Url.Action("Contact","Home")">Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- //middle section -->
<!-- tours sectopn -->
<div class="trips-section">
    <div class="container">
        <h3 class="title">Beautiful Tours</h3>
        @foreach (var data in Model)
        {
            <div class="col-xs-4 exce-grid1-mmstyle">
                <img src="@Url.Content(data.photo + "/" + data.photo_name)">
                <div class="grid-ec1">
                    <h3>@(data.dname)</h3>
                    <p>@(data.description)</p>
                    <h4>
                        <i class="fa fa-map-marker"></i>@(data.location)
                    </h4>
                    <h4 class="w3l-name">
                        <i class="fa fa-calendar"></i>@(data.dtime)
                    </h4>
                    <div class="readmore-w3-agileits about-read">
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        }
        <div class="readmore-w3-agileits about-read show-more">
            <a href="@Url.Action("beautifultours","Home")">Show More</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<!-- //tours sectopn -->
<!-- services -->
<div class="wthree_services" id="services">
    <div class="container">
        <h3 class="title">Our Services</h3>
        <div class="col-md-4 wthree_services_left">
            <div class="col-xs-4 wthree_services_left_grid">
                <div class="wthree_services_left_grid1">
                    <i class="fa fa-plane" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-8 wthree_services_left_grid_left">
                <h3>Travel Arrangements</h3>
                <p>Let us manage your every travel needs.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 wthree_services_left mid-w3l">
            <div class="col-xs-4 w3l_banner_info_left_grid">
                <div class="wthree_services_left_grid1">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-8 wthree_services_left_grid_left">
                <h3>Special Activities</h3>
                <p>We can manage your special activities as you want.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 wthree_services_left">
            <div class="col-xs-4 wthree_services_left_grid">
                <div class="wthree_services_left_grid1">
                    <i class="fa fa-suitcase" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-xs-8 wthree_services_left_grid_left">
                <h3>Beautiful Places</h3>
                <p>Visit and view every Beauty of this world with us.</p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
        <!-- another-section -->
        <div class="wthree_about_grids">
            <div class="col-md-6 wthree_about_grid_right">
                <iframe src="https://player.vimeo.com/video/71319358?badge=0"></iframe>
            </div>
            <div class="col-md-6 wthree_about_grid_left">
                <h3>Travel And Create Beautiful Memories</h3>
                <p>
                    Man is a traveler by nature. He does not like to keep static at a place for a long time.
                    So, people like to visit new places whenever they find time and opportunity.
                    People travel for different purposes. Some travel for getting an education and some travel for pleasure.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- //another-section -->
    </div>
</div>
<!-- //services -->
<!-- testimonials -->
<div class="testimonials">
    <div class="container">
        <h3 class="title">What Out Clients Says</h3>
        <div class="w3_testimonials_grids">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <div class="w3_testimonials_grid">
                                <img src="~/Content/TravelAndTours/images/te1.jpg" alt=" " class="img-responsive" />
                                <h4>
                                    <i>
                                        It was a wonderful experience for us. All your arrangements were up to the mark.
                                    </i>
                                </h4>
                                <h5>John Frank</h5>
                                <p>Tempore Quo</p>
                            </div>
                        </li>
                        <li>
                            <div class="w3_testimonials_grid">
                                <img src="~/Content/TravelAndTours/images/te2.jpg" alt=" " class="img-responsive" />
                                <h4>
                                    <i>
                                        We were so pleased with our trip that you organised.
                                    </i>
                                </h4>
                                <h5>Michael Doe</h5>
                                <p>Maxime Omni</p>
                            </div>
                        </li>
                        <li>
                            <div class="w3_testimonials_grid">
                                <img src="~/Content/TravelAndTours/images/te3.jpg" alt=" " class="img-responsive" />
                                <h4>
                                    <i>
                                        Thank you very much for all your assistance for my safe trip. Will contact you again for my future trips.
                                    </i>
                                </h4>
                                <h5>Thomas Carl</h5>
                                <p>Placeat Quo</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

        </div>
    </div>
</div>
<!-- //testimonials -->
